@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');

#platform{
    background-color: #ff7bb5;
      height: 500px;
      width: 800px;
      background-image: url('https://img.freepik.com/free-vector/abstract-violet-pixel-rain-background_23-2148362568.jpg?size=626&ext=jpg');
      background-size: cover;
  }
  body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient( 90deg, #21dec0, #1f7f2a);
  }
  *{
    margin: 0px;
    padding: 0px;
    
  }
  #paddle{
    width: 100px;
    height: 10px;
    background-image: linear-gradient( #00ffcd, #23dc30);
    border-radius: 5px;
    display: block;
    position: absolute;
    margin-top: -5px;
    margin-left: -50px;
  }
  #ball{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-image: linear-gradient(yellow, orange, red);
    display: block;
    position: absolute;
    margin-top: -10px;
    margin-left: -10px;
    transition: all linear;
    

  }
  #gamestate_status{
    background-color: #a1d487;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  #gameinfo{
   top: 10px;
    text-align: center;
    display: block;
    position: fixed;
    color: white;
    font-family: 'Girassol', cursive;
  }